@font-face {
  font-family: 'google-sans';
  src: url('../fonts/googlesans-regular-webfont.woff2') format('woff2'),
  url('../fonts/googlesans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'google-sans';
  src: url('../fonts/googlesans-bold-webfont.woff2') format('woff2'),
  url('../fonts/googlesans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}